/* Anycart 1*/

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
html {
	font-size: 100%;
} /*16px*/

:root {
	/* grey */
	--grey-light: #bababa;
    --grey-medium: #303030;
	--grey-dark: #161616;

	
	/* rest of the colors */
	--black: #222;
	--white: #fff;
    --blue: rgb(0, 102, 255);
    --borderColor: rgba(250,250,250,0.8);

	/* fonts  */
	--bodyFont: 'Roboto', sans-serif;
	--smallText: 0.9rem;
    --smallerText: 0.8rem;

}

a {
    color: var(--grey-light);
    text-decoration: none;
}

body{
    display:flex;
    background: var(--black);
    font-family: var(--bodyFont);
}

img{
    object-fit:cover;
}

img:hover{
    opacity: 0.8;
}



/*=================== SIDEBAR ================*/
.sidebar{
    display: flex;
    flex-direction: column;
    width: 16rem;
    position: fixed;
    height: 100%;
    background: var(--grey-dark);
    top:0;
    left:0.5rem;
    z-index: 1;
    padding-top: 20px;
    border-radius: 20px;
}

.sidebar a{
    display:block;
    padding: 0.5rem 1rem 0.8rem 0.5rem;
    font-weight:500;
}

.sidebar a:hover{
    color:var(--white);
    background-color: var(--grey-medium);
    border-radius: 20px;
}

.sidebar ul{
    list-style-type: none;
    padding-left: 2rem;
}

.sidebar-item-icon {
   width: 1.5rem;
   float: left;
   padding: 4px;
}

.sidebar-middle{
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 1px solid var(--borderColor);
}

.sidebar-bottom{
    border-top: 1px groove var(--borderColor);
    display:grid;
    grid-template-columns:0.8fr 1.2fr;
    grid-template-rows:1fr;
    font-size: 0.8em;
    height: 8rem;
    padding: 0.8rem 0;
    align-content: center;
}

.sidebar-bottom img{
    height: 0.2rem;
}

.logo-sidebar{
    height: 2rem;
}

@media (max-width:1100px){
    .sidebar a{
        display: none;
    }
    .sidebar{
        width: 5rem;
        overflow-x:hidden;
    }
    .logo-sidebar{
        height: 1.1rem;
        margin: 0.2rem;
        align-content: center;
    }
    .sidebar ul{
        padding-left: 1rem;
    }
    .sidebar-top{
        padding: 2px;
    }
}

@media(max-width:720px){
    .sidebar{
        display: none;
    }
}


/*=================== CONTENT ================*/
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 16rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background: var(--white) ;
    padding-top: 50px;
    /*border: 0.5px solid red;*/
    border-radius: 20px;
}

@media(max-width:1100px){
    .content {
    margin-left: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    }
    .content a, p{
        font-size: var(--smallText);
    }
}

@media(max-width:720px){
    .content{
        margin-left: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .content a,p{
        font-size: var(--smallerText);
    }
}


/*=================== CONTAINER 0 ================*/
.content-container0 {
    width:auto;
    /*border: 2px solid yellowgreen;*/
    padding: 1rem;
    background:no-repeat bottom/600px url(./images/header.webp);
    background-position-x: right;
}
/*search bar*/
.content.content-container0.search-container
{
    float:right;
}
.content.content-container0.search-container input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.content.content-container0.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    
}

/*botoes*/
.content-container0-list{
    display:flex;
    flex-wrap: wrap;
}

.content-container0-list ul{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
}

.content-container0-list a{
    display:block;
    background: rgba(60, 60, 60, 0.1);
    padding: 0.5rem 1rem 0.8rem 0.5rem;
    border-radius: 20px;
    color: var(--grey-dark);
}

.content-container0-list a:hover{
    color:var(--white);
    background-color: var(--grey-medium);
    border-radius: 20px;
}




/*=================== CONTAINER 1 ================*/
.content-container1{
    height: 15rem;
    /*border: 2px solid green;*/
    padding: 1rem;
}

.content-container1 img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

@media (max-width: 1100px){
    .content.container1{
        height: 10rem;
    }
}



/*=================== CONTAINER 2 ================*/
.content-container2{
    /*border: 2px solid blue;*/
    border-top: 1px groove var(--borderColor);
    display: grid;
    padding:1rem;
    grid-template-columns: repeat(5,16fr);
    grid-template-rows: repeat(2,16fr);
    grid-gap:0.8rem;
}
.content-container2-showcase { 
    grid-area: 1 / 1 /span 2;
    height: 100%; 
}
.content-container2 img{
    width: 90%;
    height:90%;
    overflow: hidden;
    border-radius: 1rem;
}
.content-container2 a{
    font-weight: 500;
    text-align: left;
    color: var(--grey-medium);
}

@media(max-width:1100px){
    .content-container2{
        /*border: 2px solid rgb(63, 0, 236);*/
        padding: 1rem;
        grid-template-columns: repeat(4,16fr);
    }
    .content-container2 a{
        font-size: var(--smallText);
    }
    .content-container2-item{

        border-radius: 1rem;
    }
    .content-container2-showcase { 
        height: 100%; 
    }
    #content-container-item-vanish1{
        display:none;
    }
}

@media(max-width:720px){
    #content-container-item-vanish2{
        display:none;
    }
    .content-container2{
        grid-template-columns: repeat(3,16fr);
    }
}


/*=================== CONTAINER 3 ================*/

.content-container3{
    /*border: 2px solid orange;*/
    border-top: 1px groove var(--borderColor);
    padding: 1rem;
    margin:0 auto;
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr 1fr; 
    grid-template-rows: 12rem 5rem; 
    grid-gap:2rem;
    grid-template-areas: 
    "content-container3-showcase . ."
    "content-container3-showcase . ."; 
}
.content-container3-showcase { grid-area: content-container3-showcase; }

.content-container3 img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.content-container3 h3{
    font-size: 0.9rem;
}

.content-container3 p{
    font-size: 0.8rem;
    float: left;
}

@media (max-width:1100px){
    .content-container3{
        grid-template-rows: 8rem 5rem;  
    }
}



/*=================== CONTAINER 4 ================*/


.content-container4{
    /*border: 2px solid black;*/
    border-top: 1px groove var(--borderColor);
    padding: 1rem;
    margin:0 auto;
    display: flex;
}
.content-container4-item{
    flex-shrink: 1;
}

.content-container4-showcase{
    flex-shrink: 0.5;
    min-height: 18rem;
    min-width: 15rem;
}

.content-container4 img{
    height: 90%;
    width: 90%;
    border-radius: 1rem;
}

@media(max-width:1100px){

    .content-container4-item{
        min-width: 1rem;
    }
    .content-container4-showcase{
        flex-shrink: 0.5;
        min-height: 18rem;
        min-width: 1rem;
    }


}




/*=================== CONTAINER 5 ================*/

.content-container5{
    /*border: 2px solid greenyellow;*/
    border-top: 1px groove var(--borderColor);
    padding: 1rem;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2fr;
    gap: 0.8rem;
    width: calc(100% - 40px);
    justify-content: center;
}

.content-container5 img{
    border-radius: 1rem;
    object-fit: scale-down;
}

.content-container5 h2, p{
    text-align: center;
}

@media(max-width:720px){
    .content-container5{
        flex-direction: column;
        flex-wrap: wrap;
    }
}



/*=================== CONTAINER 6 ================*/

.content-container6{
    /*border: 2px solid red;*/
    border-top: 1px groove var(--borderColor);
    display: flex;
    flex-direction: row;
    width: auto;
    height: 1fr;
}

.content-container6 img{
    border-radius: 1rem;
    object-fit: scale-down;
    height: 70%;
    width: 100%;
}

.content-container6 h3{
    font-size: 0.9rem;
}

.content-container6 p{
    font-size: 0.8rem;
    float: left;
}

@media(max-width:1100px){
    .content-container6 img{
        border-radius: 1rem;
        min-height: 250px;
    }
}

@media(max-width:720px){
    .content-container6{
        min-height: 250px;
    }
    .content-container6 img{
        border-radius: 1rem;
    }
}


/*=================== CONTAINER 7 ================*/

.content-container7{
    /*border: 2px solid blue;*/
    border-top: 1px groove var(--borderColor);
    display: grid;
    padding:1rem;
    grid-template-columns: repeat(5,16fr);
    grid-template-rows: repeat(2,2fr);
    grid-gap:0.8rem;
    overflow:hidden;
}
.content-container7-showcase { 
    grid-area: 1 / 1 /span 2;
    height: 100%; 
}
.content-container7 img{
    width: 90%;
    height:90%;
    overflow: hidden;
    border-radius: 1rem;
}
.content-container7 a{
    font-weight: 500;
    text-align: left;
    color: var(--grey-medium);
}

@media(max-width:1100px){
    .content-container7{
        height: 1fr;
        width:auto;
        padding: 0.4rem;
        grid-template-columns: repeat(4,12fr);
    }

    .content-container7 img{
        width: 85%;
        height:75%;
        overflow: hidden;
        border-radius: 1rem;
    }

    .content-container7-item{
        border-radius: 1rem;
    }
    .content-container7-showcase { 
        height: 100%; 
    }
    .content-container7 a{
        font-size: var(--smallText);
    }
}

@media(max-width:720px){
    .content-container7{
        grid-template-columns: repeat(3,12fr);
    }
}

/*=================== CONTAINER 8 ================*/

.content-container8{
    border-top: 1px groove var(--borderColor);
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
}

.content-container8-div{
    border-bottom: 2px solid rgb(228, 228, 228);
    padding: 1rem;
}

.content-container8 a{
justify-content: left;
}
